In [33]:
import numpy as np
import pandas as pd

## Combine clean HBR headlines with sampling of aggregator headlines and add labels

In [34]:
hbr = pd.read_csv("clean_headlines.csv")
hbr.columns = ['Headline']
hbr['HBR'] = 'Yes'
print hbr.shape
hbr.head()

(14480, 2)

                                            Headline  HBR
0  What So Many People Don’t Get About the U.S. W...  Yes
1     Why Do So Many Incompetent Men Become Leaders?  Yes
2                        How to Write a Cover Letter  Yes
3  The Most Important Leadership Competencies, Ac...  Yes
4                     What Is Disruptive Innovation?  Yes

In [35]:
others = pd.read_csv("other_headlines.csv")
others.columns = ['Headline']
others['HBR'] = 'No'
print others.shape
others.head()

(15000, 2)

                                            Headline HBR
0                 US stocks lower as Facebook slides  No
1  Higher Inflation Putting Pressure on Fed, Says...  No
2         Scientists solve riddle of zebras' stripes  No
3  Climate change report a 'wake-up call' for NZ ...  No
4                Posted by Shoaib-ur-Rehman Siddiqui  No

In [36]:
combined = pd.concat([hbr, others])
print combined.shape
combined.head()

(29480, 2)

                                            Headline  HBR
0  What So Many People Don’t Get About the U.S. W...  Yes
1     Why Do So Many Incompetent Men Become Leaders?  Yes
2                        How to Write a Cover Letter  Yes
3  The Most Important Leadership Competencies, Ac...  Yes
4                     What Is Disruptive Innovation?  Yes

In [37]:
combined.to_csv("combined_headlines.csv",index=False,header=True)

## Repeat for business headlines only

In [38]:
biz = pd.read_csv("other_biz_headlines.csv")
biz.columns = ['Headline']
biz['HBR'] = 'No'
print biz.shape
biz.head()

(15000, 2)

                                            Headline HBR
0  Stocks notch tiny gains, but still end week lo...  No
1  US Economy To See Faster Growth After Winter F...  No
2  Employers Add 209000 Jobs. Unemployment Rate R...  No
3  Pfizer Details Case for AstraZeneca Deal --Update  No
4  Putin to discuss Ukraine with France's Holland...  No

In [39]:
combined_biz = pd.concat([hbr, biz])
print combined_biz.shape
combined_biz.head()

(29480, 2)

                                            Headline  HBR
0  What So Many People Don’t Get About the U.S. W...  Yes
1     Why Do So Many Incompetent Men Become Leaders?  Yes
2                        How to Write a Cover Letter  Yes
3  The Most Important Leadership Competencies, Ac...  Yes
4                     What Is Disruptive Innovation?  Yes

In [40]:
combined_biz.to_csv("combined_biz_headlines.csv",index=False,header=True)